.upperInputArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 5rem;
}

.contact {
  display: flex;
  flex-direction: column;
}

@media (min-width: 431px) and (max-width: 760px) {
  .haveQuestion {
    background-image: url(./../../../assets/Logowithripple.png);
    background-repeat: no-repeat;
    background-size: 48rem;
    background-position: -10rem;
    background-position-y: -2rem;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

/* @media  {
  .haveQuestion {
    background-image: none;
  }
} */

@media only screen and (max-width: 600px) {
  .upperInputArea {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 431px) {
  .upperInputArea {
    row-gap: 1rem;
  }
}
